/week2/dist/
/week3/nbproject/private/
/week3/build/
/BruteForce/nbproject/private/
/bruteForce/nbproject/private/
/bruteForce/build/
/bruteForce/dist/
/fermatFactorising/nbproject/private/
/fermatFactorising/build/